    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Creepster&family=Lobster+Two:wght@400;700&display=swap');
    /* * {
    margin: 0;
    padding: 0;
} */
    
    body {
        background-color: #f7f7f7;
        font-family: 'Poppins', sans-serif;
        padding: 0;
        margin: 0;
    }
    /* NABVAR */
    
    nav .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .navbar-brand img {
        width: 70px;
        margin-left: 25px;
    }
    
    .brand-link {
        font-family: 'Creepster';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 75px;
        background: linear-gradient(180deg, #FF8787 0%, #B42020 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        height: auto;
    }
    
    .brand-link span {
        background: linear-gradient(180deg, #FFF387 0%, #C11818 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .navbar-nav {
        display: flex;
    }
    
    .navbar-nav .nav-item {
        width: 190px;
    }
    
    .navbar-nav .nav-item:hover {
        opacity: 0.85;
        transition: all 0.4s;
    }
    /* .nav-item .btn.mobile {
    visibility: hidden;
} */
    /*  End of Navbar */
    /* LOGIN */
    
    .login-container {
        padding: 100px 200px;
    }
    
    .login-container input {
        border-radius: 14px;
        padding: 20px;
        border: none;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E66B41;
        height: 100vh;
        border-radius: 50px 0 0 50px;
    }
    
    .input-group:not(.has-validation)>.input-group-append:not(:last-child)>.input-group-text {
        border-radius: 0 14px 14px 0;
        background-color: #fff;
        border: none;
    }
    
    .input-group-append span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-login {
        border: none;
        border-radius: 14px;
        padding: 8px;
        background-color: #E66B41;
        color: #f7f7f7;
        font-weight: 500;
        transition: all 0.5s;
    }
    
    .btn-login:hover {
        background-color: #e7744d;
    }
    
    .btn-login-secondary {
        border: 2px solid#E66B41;
        border-radius: 14px;
        padding: 8px;
        color: #E66B41;
        font-weight: 500;
        transition: all 0.4s;
    }
    
    .btn-login-secondary:hover {
        background-color: rgb(231, 116, 77, 0.2);
        color: #f7f7f7;
    }
    
    .login-container .icheck-primary label {
        font-weight: 600;
    }
    
    .login-container a {
        color: #444;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.5s;
    }
    
    .login-container a:hover {
        color: #222;
    }
    /* End of Login */
    /* INDEX */
    
    .container {
        margin-top: 100px;
    }
    
    .heroes {
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
    .title-heroes {
        font-family: 'Lobster Two', cursive;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .product {
        margin-bottom: 25px;
    }
    
    .heroes p {
        font-size: 18px;
        font-weight: 500;
    }
    
    .card {
        border-radius: 20px;
        padding: 0;
        background-color: #fff;
        margin-top: 100px;
    }
    
    .card-head {
        background-color: #fff;
        border-radius: 20px;
    }
    
    .card .product-img {
        margin: -60px auto 0;
        height: 160px;
        width: 160px;
        float: center;
        box-shadow: 3px 3px 10px rgb(180, 180, 180);
    }
    
    .card hr {
        height: 2px;
        color: #cccccc;
        width: 60%;
        margin: 10px auto;
    }
    
    .card-body {
        padding: 14px;
    }
    
    .card-body .product-name {
        font-weight: 700;
        font-size: 22px;
    }
    
    .card-foot {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
    }
    
    .card-foot .price {
        font-weight: 600;
        font-size: 20px;
    }
    
    .card-foot .price span {
        font-size: 10px;
    }
    
    .card-body .btn-add {
        background-color: #F9D820;
        border-radius: 16px;
        padding: 8px 16px;
        text-decoration: none;
        color: #fff;
        font-weight: 800;
        font-size: 14px;
        border: none;
        box-shadow: 2px 2px 8px #d4d4d4;
    }
    
    .btn-add i {
        font-weight: bold;
    }
    
    .card-body .btn-add:hover {
        background-color: #f0d227;
        transition: all 0.5s;
    }
    
    .btn-add span {
        font-size: 10px;
    }
    /* FOOTER */
    
    footer {
        background-color: #444;
        color: #f7f7f7;
        height: 200px;
        border-radius: 22px 22px 0 0;
        padding-top: 18px;
        margin-top: 50px;
        position: relative;
        bottom: 0;
        width: 100%;
        min-height: 100%;
    }
    
    footer .footer-desc {
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 10px 100px;
        font-weight: 200;
        word-spacing: 1px;
    }
    
    footer .btn-group-footer a i {
        color: #f7f7f7;
        font-size: 20px;
        width: 30px;
    }
    
    footer .btn-group-footer a i:hover {
        color: #dadada;
    }
    
    footer .copyright {
        font-size: 12px;
        font-weight: 200;
    }
    
    @media(max-width: 2000px) {
        .login-container {
            padding: 100px 200px 0;
        }
    }
    
    @media(max-width: 1315px) {
        .login-container {
            padding: 100px 120px 0;
        }
    }
    
    @media(max-width: 992px) {
        .login-container {
            padding: 100px 140px 0;
        }
        .image-container {
            display: none;
        }
    }
    
    @media(max-width: 768px) {
        .navbar-brand img {
            margin-left: 0;
        }
        .navbar-nav {
            flex-direction: row;
            position: absolute;
            top: 30px;
            right: -30px;
        }
        .nav-item span {
            display: none;
        }
        .navbar-nav .nav-item {
            width: 120px;
        }
        .heroes p {
            margin: 0 25px;
        }
        .card-body .product-name {
            font-size: 20px;
        }
        .card-body .product-price {
            font-size: 16px;
        }
        .card {
            margin-top: 100px;
        }
        .card-body {
            padding: 0;
        }
        .card-body .btn-add {
            background-color: #F9D820;
            border-radius: 16px;
            padding: 4px 12px;
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            font-size: 14px;
            border: none;
            box-shadow: 2px 2px 8px #d4d4d4;
        }
        .login-container {
            padding: 70px;
        }
    }