@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
body {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}


/* NABVAR */

nav .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-brand img {
    width: 70px;
    margin-left: 25px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav .nav-item {
    width: 190px;
}

.navbar-nav .nav-item:hover {
    opacity: 0.85;
    transition: all 0.4s;
}


/* .nav-item .btn.mobile {
    visibility: hidden;
} */


/*  End of Navbar */


/* INDEX */

.container {
    margin-top: 100px;
}

.heroes {
    margin-top: 20px;
    margin-bottom: 100px;
}

.title-heroes {
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    margin-bottom: 20px;
}

.product {
    margin-bottom: 25px;
}

.heroes p {
    font-size: 18px;
    font-weight: 500;
}

.card {
    border-radius: 20px;
    padding: 0;
    background-color: #fff;
    margin-top: 100px;
}

.card-head {
    background-color: #fff;
    border-radius: 20px;
}

.card .product-img {
    margin: -60px auto 0;
    height: 160px;
    width: 160px;
    float: center;
    box-shadow: 3px 3px 10px rgb(180, 180, 180);
}

.card hr {
    height: 2px;
    color: #cccccc;
    width: 60%;
    margin: 10px auto;
}

.card-body {
    padding: 18px;
}

.card-body .product-name {
    font-weight: 700;
    font-size: 22px;
}

.card-foot {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.card-foot .price {
    font-weight: 600;
    font-size: 20px;
}

.card-foot .price span {
    font-size: 10px;
}

.card-body .btn-add {
    background-color: #F9D820;
    border-radius: 16px;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    border: none;
    box-shadow: 2px 2px 8px #d4d4d4;
}

.btn-add i {
    font-weight: bold;
}

.card-body .btn-add:hover {
    background-color: #f0d227;
    transition: all 0.4s;
}

.btn-add span {
    font-size: 10px;
}


/* FOOTER */

footer {
    background-color: #444;
    color: #f7f7f7;
    height: 200px;
    border-radius: 22px 22px 0 0;
    padding-top: 18px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

footer .footer-desc {
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    font-weight: 200;
    word-spacing: 1px;
}

footer .btn-group-footer a i {
    color: #f7f7f7;
    font-size: 20px;
    width: 30px;
}

footer .btn-group-footer a i:hover {
    color: #dadada;
}

footer .copyright {
    font-size: 12px;
    font-weight: 200;
}

@media(max-width: 768px) {
    .navbar-brand img {
        margin-left: 0;
    }
    .navbar-nav {
        flex-direction: row;
        position: absolute;
        top: 30px;
        right: -30px;
    }
    .heroes p {
        margin: 0 25px;
    }
    .card-body .product-name {
        font-size: 20px;
    }
    .card-body .product-price {
        font-size: 18px;
    }
    .card {
        margin-top: 100px;
    }
}